<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAPSTONE Travel App</title>
</head>

<body>

  <header>
    <div id="header-container">
      <div class="heading">
        <h1>CAPSTONE Travel App</h1>
        <img src="" alt="" class="logo"></img>
      </div>
    </div>
  </header>

  <main>
    <div id="main-container">
      <form class="" onsubmit="return Client.handlesubmit(event)">
        <div class="destination-box">
          <p>Enter your destination here</p>
          <input id="destination" type="text" name="destination" value="" placeholder="Your Destination">
        </div>
        <div class="date-box">
          <p>Departure Date</p>
          <input id="date" type="date" name="destination" value="" placeholder="mm/dd/yyyy">
        </div>
        <div class="submission-box">
          <input id="submit" type="submit" name="submit" value="" onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)">
        </div>
      </form>
      <div class="pixabay"></div>
    </div>
  </main>

  <footer>
    <div id="footer-container">
      <div class="copyright">Copyright by Ye Fung Tchen</div>
      <a href="#" class="github">Github</a>
      <a href="#" class="linkedin">LinkedIn</a>
    </div>
  </footer>

  <script>

  </script>

</body>

</html>