main {
    margin: 0;
}

p {
    margin: 0;
}

input {
    text-align: center;
}

#main-container {
    background-color: white;
    margin: 0;
}

#destination {
    width: 240px;
    background:#22b2da;
    color: black;
    font-size: 15px;
    align-items: center;
}

